{% extends '../base.html' %}
{% load staticfiles %}
{% block content %}
{% load ckeditor_safe %}
{% load like_tag %}
        <div class="jumbotron import-padding-left" style="margin-bottom: 0px; padding: 20 10 20 30px;">
            <p class="text-left">
                <h3 class="center"><strong>欢迎来到博客页</strong><small>共有<u>{{page.paginator.count}}</u>篇文章</small></h3>
            </p>
            <ul class="nav nav-pills">
                {% if 'blogtype' in args_url %}
                    <li rule="presentation"><a href="{% url 'blog' %}">全部</a></li>
                {% else %}
                    <li rule="presentation" class="active"><a href="{% url 'blog' %}">全部</a></li>
                {% endif %}        
              {% for blogtype in blogtypes %}
                  {% if available_field.blogtype == blogtype.id %}
                  <li rule="presentation" class="active" ><a href="{% url 'blog' %}?blogtype={{ blogtype.id }};">{{ blogtype }}</a></li>
                  {% else %}
                  <li rule="presentation" ><a href="{% url 'blog' %}?blogtype={{ blogtype.id }};">{{ blogtype }}</a></li>
                  {% endif %}          
              {% endfor %}
            </ul>
        </div>
        <div class="container-fluid ">
            <div class="row">            
                <div class="col-md-10 panel panel-default" style="padding: 0;margin: 0">
                            {% for blog in page.object_list %}
                                <div class="panel panel-default" style="padding: 0;margin: 0">
                                    <div class="panel-heading ">
                                        <div class="panel-title">
                                            <p style="display:inline-block;">
                                                <a  class="text-primary" href="{% url 'blog_detail' blog.pk %}">{{blog.theme}}</a>
						{% load blog_info %}
						<span class="badge">
                                                {% get_blogtypes blog %} 
						</span>
                                            </p>
                                                <small>{{blog.update|date:'Y-m-d,H:i:s'}}</small>
                                                    <span class="pull-right">
                                                    <small>
                                                   	<span class="glyphicon glyphicon-eye-open"></span> {{blog.get_read_num}}
                                                    </small>
                                                    <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
										<div class="like" onclick="like(this, '{% get_content_type blog %}', {{ blog.pk }})" >
											<span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
											<span class="like_num">{% get_like_count blog %}</span>
										</div>
                                                    <span >
                                                        {% load user_info %}
                                                        {% get_nickname_or_username blog.user %}
                                                        <img src="{% get_user_photo_url blog.user%}" alt="" style="width: 32px;height: 32px;" class="img-circle">
                                                    </span>
                                                </span>

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <small>
                                            {{ blog.context|editor_safe:500 }}
                                        </small>
                                    </div>
                                </div>
                            {% endfor %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page.has_previous %}
                                <li>
                                    <a href="{{ args_url }}page={{ page.previous_page_number }}">
                                        &laquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="javascript:;">
                                        &laquo;
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_index in page.display_range %}
                                {% ifequal page_index page.number %}
                                    <li class="active">
                                        <a href="{{ args_url }}page={{ page_index }}">
                                            {{ page_index }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ args_url }}page={{ page_index }}">
                                            {{ page_index }}
                                        </a>
                                    </li>
                                {% endifequal %}

                            {% endfor %}
                            {% if page.has_next %}
                                <li>
                                    <a href="{{ args_url }}page={{ page.next_page_number }}">
                                        &raquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a  class="disabled" href="javascript:;">
                                        &raquo;
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 " style="padding: 0;margin: 0">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="panel-title ">
                                月榜
                            </div>
                        </div>
                        <div class="panel-body list-group">
                            {% for hot_blog in this_month_hot_blog %}
                                <li class="list-group-item"><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.theme|truncatechars_html:8}}</a><span class="badge">{{ hot_blog.read_statistics__read_count }}</span></li>
                            {% endfor %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
function like(obj,content_type,b_id){
	obj = $(obj);
	if(obj.children('.active').length == 0){
		var is_like = 'true'
	}else{
		var is_like = 'false'
	};
	var data = {
		'content_type':content_type,
		'object_id':b_id,
		'is_like':is_like,
	};
	$.ajax({
		url:'{% url 'like_change' %}',
		type:'GET',
		data:data,
		success:function(response){
			console.log(response);
			if(response['status'] == 'success'){
				let el = obj.children('.glyphicon');
				if(is_like=='true'){
					el.addClass('active')
				}else{
					el.removeClass('active')
				}
				let like_num = obj.children('.like_num');
				like_num.text(response['like_num']);
			}else{
				alert(response['msg'])
			}
			},
		erro:function(xhr){
			alert(xhr)
		},
	})
}
{% endblock %}
